extends ../layout/base

prepend title
    title=view.pageTitle

block content
  
    #title_container.pa3
        +heading("Homepage!")
        
    #main_content_container.pa3
         p=view.mainContent

    #image_container.pa3-ns
        img(src='./images/cat.gif')
